{% extends 'my_app/base.html' %} {% load static %} {% block content %}
<div class="profile-user-details shadow p-4 mt-3" style="margin: 0 auto">
  <div class="profile-user-image d-flex justify-content-center">
    <div class="profile-user-image-container">
      <img src="{{organization.image.url}}" alt="" />
    </div>
  </div>
  <div class="profile-user-name d-flex align-items-center flex-column mb-2">
    <h5 style="margin-bottom: 0" class="mb-3">
      {{organization.organization_name}}
    </h5>
    {% if organization.email or contact.email %}
    <p>Email: {{organization.email}}</p>
    {% endif %} {% if contact.phone %}
    <p>Phone: {{contact.phone}}</p>
    {% endif %} {% if contact.facebook %}
    <p>Facebook: {{contact.facebook}}</p>
    {% endif %} {% if contact.whatsapp %}
    <p>Whatsapp: {{contact.whatsapp}}</p>
    {% endif %} {% if contact.twitter %}
    <p>Twitter: {{contact.twitter}}</p>
    {% endif %}
  </div>
</div>
{%endblock content %}
