{% extends 'my_app/base.html' %} {% load static %} {% block content %}
<div class="profile-user-details shadow p-4 mt-3" style="margin: 0 auto">
  <div class="profile-user-projects" style="width: 80%; margin: 0 auto">
    {% if donations %}
    <h5 class="mb-3">Donations</h5>
    {% for donation in donations %}
    <div class="profile-user-project-card shadow p-3 mb-3">
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <div class="profile-user-project-card-image-container">
            <img src="{{donation.donator.image.url}}" alt="" />
          </div>
          <div>
            <p>{{donation.donator.username}}</p>
            <p style="opacity: 0.5; font-style: italic; font-size: 14px">
              Sent on {{donation.created_at}}
            </p>
          </div>
        </div>

        <div class="profile-user-project-card-action">
          {% if donation.is_approved %}
          <a
            href="#"
            style="
              width: 45px;
              height: 45px;
              border-radius: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            "
            ><i class="fa-solid fa-check" style="font-size: 25px"></i
          ></a>
          {% else %}
          <a href="{% url 'approve_donation' donation.id %}">Approve</a>
          {% endif %}
        </div>
      </div>
      <div class="donation-info mt-3">
        <p>bKash number: {{donation.donator_bkash_number}}</p>
        <p>Transaction ID: {{donation.money_transaction_id}}</p>
        <p>Amount: {{donation.donation_amount}}</p>
        <p class="mb-2">Project:</p>
        <div
          class="donated-project shadow p-3 d-flex align-items-center justify-content-between"
        >
          <div class="d-flex align-items-center">
            <div class="donated_project_image">
              <img src="{{donation.project.image.url}}" />
            </div>
            <p>Uploader: {{donation.receiver.username}}</p>
          </div>
          <a
            href="{% url 'post_detail' donation.project.id %}"
            class="add-new-post__btn"
            >Details</a
          >
        </div>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5
      style="
        text-align: center;
        margin-top: 10px;
        font-style: italic;
        opacity: 0.5;
      "
    >
      No donations available.
    </h5>
    {% endif %}
  </div>
  {%endblock content %}
</div>
